* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 15px;
  list-style: none;
  line-height: 25px;
}

.navBar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px 0px;
  z-index: 1;
}

.navLeft ul,
.navRight ul {
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}

.navLeft ul li img{
  width: 40px;
  height: auto;
  padding: 0 30px;
  margin-left: 45px;
}
.navRight ul li img {
  width: 40px;
  height: auto;
  padding: 0 30px;
  margin-left: 15px;
}

.home,
.contacto {
  filter: invert();
  height: 35px;
  transform: scale(0.7);
}

.devF {
  height: auto;
  transform: scale(1.3);
}

.gitHub{
  height: auto;
  transform: scale(.8);
}

.navSearch {
  min-width: 35%;
  height: 35px;
  background: white;
  display: flex;
  border-radius: 28px;
  padding: 0px 20px;
  margin-right: 90px;
}

.iconodebusqueda {  
  width: 15px;
  height: 35px;
  margin-right: 0px;
  background-color: white;
}

.finder {
  min-width: 110%;
  border-radius: 35px;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 20px;
}

.container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  grid-row-gap: 25px;
  margin: 6% 10%;
  background-color: whitesmoke;
  place-items: center;
}

.movieCard {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.5);
}

.container .movieCard img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  margin-top: 16px;
}

.footer {
  display: flex;
  bottom: 0;
  flex-direction: column;
  width: 100%;
  height: 60px;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px 0px;
}


@media screen and (max-width: 1440px) and (min-width: 1080px){

  .container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-row-gap: 25px;
    margin: 8% 5%;
    background-color: whitesmoke;
    place-items: center;
  }
  
  .navBar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 15px 0px;
    z-index: 1;
  }
  .navLeft ul,
  .navRight ul {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .navLeft ul li img{
    width: 40px;
    height: auto;
    padding: 0 25px;
    margin-left: 5px;
    margin-right: 10px;
  }
  .navRight ul li img {
    width: 45px;
    height: auto;
    padding: 0 25px;
    margin-left: 10px;
    margin-right: 1px;
  }
  
  .home,
  .contacto {
    filter: invert();
    height: 35px;
    transform: scale(0.7);
  }
  
  .devF {
    height: auto;
    transform: scale(1.4);
  }
  
  .gitHub{
    height: auto;
    transform: scale(.8);
    margin-right: 60px;
  }
  
  .navSearch {
    min-width: 30%;
    height: 40px;
    background: white;
    display: flex;
    border-radius: 28px;
    padding: 0px 15px;
    margin-right: 20px;
  }
  
  .iconodebusqueda {  
    width: 15px;
    height: 40px;
    margin-right: 0px;
    background-color: white;
  }
  
  .finder {
    min-width: 110%;
    border-radius: 35px;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 20px;
  }
      
  
  
  
}

@media screen and (max-width: 420px) and (min-width: 340px){
  * {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 15px;
    list-style: none;
    line-height: 25px;
  }

  .container {
    display: grid;
    width: 80%;
    height: 70%;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
        margin: 25% 10%;
    background-color: whitesmoke;
    place-items: center;
  }

  .navLeft ul,
  .navRight ul {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    
  }
  
  .navLeft ul li img{
    width: 40px;
    height: auto;
    padding: 0 1px;
    margin-left: 5px;
  }
  .navRight ul li img {
    width: 40px;
    height: auto;
    padding: 0 30px;
    margin-left: 15px;
    display: none;
  }
  
  .home,
  .contacto {
    margin-top: 7px;
    margin-right: 10px;
    
    filter: invert();
    height: 35px;
    transform: scale(1);
  }
  
  .devF {
    height: auto;
    transform: scale(1.3);
    display: none;
  }
  
  .gitHub{
    height: auto;
    transform: scale(.8);
    display: none;
  }
  
  .navSearch {
    min-width: 60%;
    height: 35px;
    background: white;
    display: flex;
    border-radius: 28px;
    padding: 0px 20px;
    margin-right: 90px;
  }
  
  .iconodebusqueda {  
    width: 15px;
    height: 35px;
    margin-right: 0px;
    background-color: white;
  }
  
  .finder {
    min-width: 110%;
    border-radius: 35px;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 14px;
  }

  .movieCard {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.5);
  }

  .movieCard img{
    width: auto;
    height: auto;
  }

  .footer {
    display: flex;
    bottom: 0;
    flex-direction: column;
    width: 100%;
    height: 110px;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 25px 10px;
  }
}
  